@{
    ViewData["Title"] = "Home";
}

@section scripts{
    <script>
        if ('@ViewBag.ControllerFound' === true) {
            $("#loading").hide();
            $("#playerinfo").show();
        }
        else {
            $("#loading").show();
            $("#playerinfo").hide();
        }
        $('#sidebar').find('a[href="' + location.pathname + '"]').closest('li').addClass('active')

        PlayerOneRestoreMetadata();
        PlayerTwoRestoreMetadata();
    </script>
}
<div class="row">
    <div class="col-md-12">
        <div id="playerinfo">
            @await Html.PartialAsync("/Views/Shared/_PlayerOneInfo.cshtml")
            <br />
            @await Html.PartialAsync("/Views/Shared/_PlayerTwoInfo.cshtml")
        </div>
        <div id="loading" class="loading" style="display:none; justify-content:center; align-items:center; display:flex; min-height:20vh;">
            <center><img src="~/Images/ajax-loader.gif" />  Searching for controller...please wait!</center>
        </div>
    </div>
        
</div>
<br />
@await Html.PartialAsync("/Views/Shared/_DeviceNetworkInformation.cshtml")