<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
               Status
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-label">Controller Status :</div>
                    </div>
                    <div class="col-md-auto">                        
                        <div id="ethernet-device" class="control-label">Searching for Controller on network...</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-label">Twitch Bot Status :</div>
                    </div>
                    <div class="col-md-auto">
                        <div id="twitch-status" class="control-label">Connecting to Twitch bot...</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-label">Discord Bot Status :</div>
                    </div>
                    <div class="col-md-auto">
                        <div id="discord-status" class="control-label">Connecting to Discord bot...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>