<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
               Important Note
            </div>
            <div class="card-body">
                <div class="row">                    
                    <div id="Note" class="control-label" style="color:red">Please make sure the Master Volume on the controller is NOT set to Zero, 
                        otherwise the Fader Open/Close or Cross fader status will not register as "ON AIR". 
                        Hence it will not display any tracks in the overlay or Twitch Chat.</div>
                </div>                
            </div>
        </div>
    </div>
</div>