@using static TrackMaster.Services.Sniffy.Sniffy
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackMaster</title>    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap5-toggle/css/bootstrap5-toggle.min.css" />    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/simple-sidebar.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>    
    <script src="~/lib/bootstrap5-toggle/js/bootstrap5-toggle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/trackist.js"></script>
</head>
<body>
        <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h5>Menu</h5>
            </div>

            <ul class="list-unstyled components">

                <li id="home">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li id="settings">
                    <a asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                </li>
                <li id="overlay">
                    <a asp-area="" asp-controller="Overlay" asp-action="Index">Overlay</a>
                </li>  
            </ul>            
        </nav>
        <!-- Page Content -->
        <div id="content">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid" style="justify-content:flex-start">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Track Master - Build @VersionHelper.GetAssemblyVersion()</a>
                    </div>
                </nav>
            </header>


            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>                
            </div>
        </div>

    </div>

    @await Html.PartialAsync("/Views/Shared/_Toast.cshtml")

       <!-- Menu Toggle Script -->
    <script>

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            }); 
        });        
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
