<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Deck 2 Information
            </div>
          <div class="card-body">
                <div class="row">
                    <div class="col-md-auto">
                        <div class="control-label">Status :</div>
                        <div class="control-label">Loaded From :</div>
                        <div class="control-label">Master :</div>
                        <div class="control-label">Fader Status :</div>
                    </div>
                    <div class="col-md-3">
                        <div id="status-player-two" class="control-label"></div>
                        <div id="loadedfrom-player-two" class="control-label"></div>
                        <div id="master-player-two" class="control-label"></div>
                        <div id="fader-player-two" class="control-label"></div>
                    </div>    
                    <div class="col-md-auto">
                        <img id="artwork-player-two" src="~/Images/Cover-no-artwork.jpg" width=100px height=100px />
                    </div>
                    <div class="col-md-auto">
                        <div id="trackname-player-two" class="control-label" style="font-size:larger;font-weight:500;"></div>
                        <div id="artistname-player-two" class="control-label"></div>
                        <div class="col-md-auto"><div id="genre-player-two" class="control-label" style="font-size:small"></div></div>
                        <div class="row">
                            <div class="col-md-auto"><div id="duration-player-two" class="control-label" style="font-size:small"></div></div>
                            <div class="col-md-auto"><div id="key-player-two" class="control-label" style="font-size:small"></div></div>                            
                        </div>    
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>